.inner-header{height: 45px;background:#ffffff;border-bottom: 1px solid #e6e1e1;position: relative;}
.inner-header .optionbtn{float:right;margin-top:10px;margin-right:4px;}
.innerScroll {
    overflow: hidden;
    position: :absoulte;
}
/*动态缩略字段 start*/
table.tablecut{/*固定定位，平均分配宽度，需要内容截取的table要增加此样式*/
		table-layout:fixed;
	}
.autocut{/*td内容截取，于th表头的宽度为基准进行截取,需要截取的td增加此样式即可*/
	    overflow:hidden;
	    white-space:nowrap;
	    text-overflow:ellipsis;
	    -o-text-overflow:ellipsis;
	    -icab-text-overflow: ellipsis;
	    -khtml-text-overflow: ellipsis;
	    -moz-text-overflow: ellipsis;
	    -webkit-text-overflow: ellipsis;
	    border:0;
	}
.autocut:hover{/*鼠标移至，悬停到目标区域时调用的样式；即鼠标移至目标区域，显示目标区域全部内容*/
	   /*  overflow:visible; */
	    white-space:normal;
	    word-wrap: break-word;
	    border:0;
	}
/*动态缩略字段 end*/
/*遮罩层 start*/
div.box{ 
	width:100%; 
	height:100%; 
	position:relative; 
	margin:0px auto; 
	} 
div.shade{ 
	width:100%; 
	height:100%; 
	background-color:#fff; 
	position:absolute; 
	z-index:999; 
	left:0px; 
	top:0px; 
	-moz-opacity:0.5;/*Firefox*/ 
	opacity:0.4;/*Opera*/ 
	filter:alpha(opacity=50); /*IE*/ 
	}
/*遮罩层 end*/
label.error{color:red;}