.inner-header{height: 45px;background:#ffffff;border-bottom: 1px solid #e6e1e1;position: relative;}
.inner-header .optionbtn{float:right;margin-top:10px;margin-right:4px;}
.inner-header .optionbtn-left{float:left;margin-top:10px;margin-left:4px;}
a.nouse {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}
.innerScroll {
    overflow: hidden;
    position: :absoulte;
}
/*动态缩略字段 start*/
table.tablecut{/*固定定位，平均分配宽度，需要内容截取的table要增加此样式*/
		table-layout:fixed;
	}
.autocut{/*td内容截取，于th表头的宽度为基准进行截取,需要截取的td增加此样式即可*/
	    overflow:hidden;
	    white-space:nowrap;
	    text-overflow:ellipsis;
	    -o-text-overflow:ellipsis;
	    -icab-text-overflow: ellipsis;
	    -khtml-text-overflow: ellipsis;
	    -moz-text-overflow: ellipsis;
	    -webkit-text-overflow: ellipsis;
	    border:0;
	}
.autocut:hover{/*鼠标移至，悬停到目标区域时调用的样式；即鼠标移至目标区域，显示目标区域全部内容*/
	   /*  overflow:visible; */
	    white-space:normal;
	    word-wrap: break-word;
	    border:0;
	}
/*动态缩略字段 end*/
/*遮罩层 start*/
div.box{ 
	width:100%; 
	height:100%; 
	position:relative; 
	margin:0px auto; 
	} 
div.shade{ 
	width:100%; 
	height:100%; 
	background-color:#fff; 
	position:absolute; 
	z-index:999; 
	left:0px; 
	top:0px; 
	-moz-opacity:0.5;/*Firefox*/ 
	opacity:0.4;/*Opera*/ 
	filter:alpha(opacity=50); /*IE*/ 
	}
/*遮罩层 end*/
label.error{color:red;}
.logo-img{max-width:50px;max-height:50px;}
/*表单布局-左对齐样式*/
.form-horizontal .control-label-left{    
	padding-top: 7px;
    margin-bottom: 0;
    text-align: left;}
/*水平分割线*/
.hr-bottom{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #eee;}
.paging-component{position:fixed;bottom:25px;right:15px;}
/*开关效果*/
.myswitch {
    width: 57px;
    height: 28px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance :normal;
    user-select: none;
    outline: none;
}
.myswitch:before {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.myswitch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}
.myswitch:checked:before {
    left: 30px;
}
.myswitch.switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.myswitch.switch-anim:before {
    transition: left 0.3s;
}
.myswitch.switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.myswitch.switch-anim:checked:before {
    transition: left 0.3s;
}